{% macro isPublished(component) %}
    {% if component.isPublished %}
        <button class="btn btn-outline-success btn-sm" data-rel="page-publish" data-id="{{ component.id }}">
            Published
            <i class="fa fa-check-circle-o"></i>
        </button>
    {% else %}
        <button class="btn btn-outline-danger btn-sm" data-rel="page-publish" data-id="{{ component.id }}">
            Unpublised
            <i class="fa fa-times-circle-o"></i>
        </button>
    {% endif %}
{% endmacro %}