<script type="text/javascript">
    $( document ).ready(function() {
        $('#{{ form.vars.id }}').validate();
    });
</script>

<div class="ui icon header">
    {% block title %}{% endblock title %}
</div>
<div class="content">
    {% block content %}{% endblock content %}
</div>