<div class="block-admin-buttons beaver-mockup">
    <button class="ui button" data-rel="move-down">
        <i class="fa fa-arrow-down"></i>
    </button>
    <button class="ui button" data-rel="move-up">
        <i class="fa fa-arrow-up"></i>
    </button>
    <button class="ui button" data-rel="drop">
        <i class="fa fa-trash-o"></i>
    </button>
    <button class="ui button" data-rel="refresh">
        <i class="fa fa-refresh"></i>
    </button>
    <button class="ui button" data-rel="publish">
        <i class="fa fa-check-circle-o"></i>
    </button>
</div>