<div class="slot-admin-buttons area">
    {% if widgets is empty %}
    <a class="slot-action-button" data-rel="add-widget" title="Add Widget">
        <i class="fa fa-plus-square-o"></i>
        Add Widget
    </a>
    {% endif %}

    {% if widgets is not empty %}
        {% set widget = widgets | first %}
        <a class="slot-action-button" data-rel="drop-widget" title="Add Widget" data-id="{{ widget.id }}">
            <i class="fa fa-trash-o"></i>
            Delete Widget
        </a>
    {% endif %}

</div>