@import url('https://fonts.googleapis.com/css?family=Poppins');

$white                  : #FFFFFF;
$black                  : #000000;
$carrot                 : #d35400;
$orange                 : #d35400;

$white-color            : #F2F1EF;
$black-color            : #3F3F3F;
$silver-color           : #bdc3c7;
$wet-asphalt-color      : #34495e;

$gray-color             : #333333;

$font-family            : 'Poppins', sans-serif;

$published-color        : #b5cc18;
$unpublished-color      : #db2828;