<div class="ui small modal" id="alert-modal">
    <div class="ui icon header">
        <i class="fa fa-commenting" aria-hidden="true"></i>
        Backend says...
    </div>

    <div class="description" id="alert-modal-content"></div>

    <div class="actions">
        <div class="ui positive right labeled icon button">
            Aceptar
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>