<div class="ui small modal" id="confirm-modal">
    <div class="ui icon header">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Confirm
    </div>

    <div class="content" id="confirm-modal-content">
        <div class="description"></div>
    </div>

    <div class="actions">
        <div class="ui black deny button">
            Cancelar
        </div>
        <div class="ui positive right labeled icon button">
            Aceptar
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>