.card.layout-item
{
    width: 150px !important;
}

.backend-form
{
    position: relative;
    width: 100%;
    padding: 30px;
    background: $white;

    .field-block
    {
        margin-bottom: 5px;
        display: block;
        overflow: auto;

        label
        {
            position: relative;
            float: left;
            width: 30%;
            font-weight: bolder;
        }

        select,
        input[type="text"]
        {
            height: 30px;
            position: relative;
            float: left;
            width: 65%;
            margin-left: 5%;
        }

        textarea.editor {
            height: 250px !important;
        }

        .ck-editor__editable {
            min-height: 400px;
            border: none;
            box-shadow: none;
        }
        .ck-editor__top .ck-sticky-panel .ck-toolbar {
            border: none;
            background: none;
        }
    }

    .button {
        @include border-radius;
        border: none;
        padding: 5px 15px;
        float: right;
        margin-left: 5px;
        color: $white-color;
        background-color: $black-color;

        &.green {
            background: $published-color;
        }

        &.red {
            background: $unpublished-color;
        }
    }
}